#comments {
  @extend .is-clearfix;
  margin-top: 2em;
  padding: 0 0 2em 0;

  .comment-reply-title {
    border-top: 1px solid $white-ter;
    border-bottom: 1px solid $white-ter;
    padding: 1em 0;
    text-transform: uppercase;
    font-size: $size-4;
    font-weight: 500;
  }

  li {
    &.comment {
      list-style: none;
      padding: 2em 0;
      &.depth-1 {
        border-bottom: 1px solid $white-ter;
        &:last-child {
          border-bottom: 0 solid $white-ter;
        }
      }
      &.parent {
        padding-bottom: 0;
      }
    }
  }

  .comments-title {
    padding: 0 0 1em 0;
    border-bottom: 1px solid $white-ter;
    font-size: $size-4;
  }

  .comment-list {
    margin-left: 0;
  }

  .comment-body {
    position: relative;
    footer {
      @include clearfix;
      margin-bottom: 1em;
      .comment-author {
        img {
          float: left;
          border-radius: 50%;
          border: 1px solid $white-ter;
          padding: 3px;
          margin-right: 1em;
        }
        .says {
          display: none;
        }
        .fn {
          font-size: $size-5;
        }
        a{
          color: $text;
          &:hover{
            color: $primary;
          }
        }
      }
      .comment-metadata {
        font-size: $size-6;
        a{
          color: $text;
          &:hover{
            color: $primary;
          }
        }
      }
    }
    .reply{
      position: absolute;
      right:0;
      top:0;
      a{
        @extend .button;
        padding:0 1em;
      }
    }
  }

  .comment-content {
    padding: 2em;
    border: 1px solid $white-ter;
    border-radius: 3px;
  }

  #commentform {
    #submit {
      @extend .is-pulled-right;
      //@extend .button.is-medium;
    }
    .comment-notes {
      font-style: italic;
      font-size: $size-7;
      font-weight: 700;
    }
  }

  iframe {
    max-width: 100%;
    display: inline-block;
  }
}

@include mobile {
  #comments {
    padding: 2em;
    ol {
      &.children {
        margin-left: 0 !important;
      }
    }
    .comment-content{
      padding: 1em;
    }
    .comment-body{
      .reply{
        top: -5px;
      }
    }
  }
}