section {
  &.page-header {
    padding: 2em 0;
    background-color: $grey-white;
    .page-title {
      font-size: $size-3;
      @extend .is-marginless;
      span {
        font-weight: 700;
      }
    }
    .page-subtitle {
      margin-top: .5em;
      font-size: .9em;
    }
    .page-title-right {
      @extend .is-pulled-right;
    }
    #breadcrumbs {
      font-size: $size-6;
    }
  }
}

#primary {
  .inline-page-title {
    margin-top: 2em;
  }
  .page-title {
    font-size: $size-3;
    span {
      font-weight: 700;
    }
  }

  .page-subtitle {
    margin-top: .5em;
    font-size: .9em;
  }
}

@include mobile {
  .page-header {
    .wrapper {
      text-align: center;
      padding: 0 2em;
    }
  }
  .page-title-right {
    float: none !important;
  }
}
