.content {
  figure {
    max-width: 100%;
  }
  img {
    height: auto;
  }
}

#primary {
  #main {
    .hentry {
      @extend .white-box;
      //margin-bottom: 4em;
      padding: 0 0 2em 0;
      border-bottom: 1px solid $white-ter;
      &:first-of-type {
        //margin-top: 3em;
      }
      &:last-of-type {
        margin-bottom: 2em;
      }
      .entry-read-more {
        padding-top: 1em;
      }
      .more-tag.button {
        text-transform: uppercase;
        font-size: $size-7;
        padding: 1.5em;
        color: $text;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}

.single {
  #primary {
    #main {
      .hentry {
        border-bottom: 0 solid $white-ter;
      }
    }
  }
}

.page {
  #primary {
    #main {
      .hentry {
        margin-top: 1em;
        border: 0 none transparent;
      }
    }
  }
}

.entry-header {
  padding-bottom: 1em;
  .author-avatar {
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid $grey-lighter;
    img {
      border-radius: 50%;
    }
  }
}

.entry-meta {
  font-size: .9em;
}

.entry-content {
  padding-bottom: 3em;
}

.has-featured-image {
  background-repeat: no-repeat !important;
  background-size: 100% !important;
}

.has-not-featured-image {
  //padding-top: 2em !important;
}

.post-navigation {
  @extend .white-box;
  padding: 1em;
}

@include fullhd {
  #primary {
    #main {
      .hentry {
        //padding-left: 7em;
        //padding-right: 7em;
      }
    }
  }
}

@include mobile {
  #primary {
    #main {
      .hentry {
        padding: 2em;
      }
    }
  }
}