a {
  @include transition(all .25s)
}

.content .entry-title {
  font-size: $size-3;
  //text-align: center;
  margin-top: 1em !important;
  a {
    color: $text;
    &:hover {
      color: $primary;
    }
  }
}

.content {
  ul ul,
  ol ul {
    list-style-type: circle;
  }
}

.entry-meta {
  //text-align: center;
}
