$white-ter: #EAECEE;//rgba(0, 0, 0, .1);
$grey-white: rgba(0, 0, 0, .025);
$body-size: 16px;
$primary: #6772e5;
$text: #6b7c93;
$link: #6772e5;
$link-active: #32325d;
$text-strong: $link-active;
$input: $link-active;