.widget {
  //@extend .white-box;
  padding: 1.5em 0;
  &:first-child {
    margin-top: 1em;
  }
  .widget-title {
    text-transform: uppercase;
    //padding-left: .5em;
    //border-left: 2px solid $primary;
    border-bottom: 1px solid $white-ter;
    padding-bottom: .75em;
    margin-bottom: .1em;
    font-weight: 700;
  }
  ul{
    li{
      //border-bottom: 1px solid $white-ter;
      padding: .5em 0;
      &:first-child{
        //border-top: 1px solid $white-ter;
      }
    }
  }
  a{
    color: $text;
    &:hover{
      color: $primary;
    }
  }
}

.tagcloud{
  a{
    @extend .tag;
    @extend .is-light;
    @extend .is-rounded;
    text-decoration: none !important;
  }
}