header#masthead {
  border-bottom-style: solid;
}

.header-minimal,
.header-transparent {
  #masthead {
    .navbar {
      background-color: transparent;
      .menu-item {
        &:visited {
          color: $text;
        }
        &.is-active {
          color: $primary;
        }
      }
    }
  }
}

#masthead .navbar-menu.is-active {
  position: relative;
  z-index: 99;
  background-color: white;
  padding-top: 0;
}

.posts-pagination {
  padding:1em;
  &.is-boxed {
    @extend .white-box;
  }
}
