header#masthead {
  border-bottom-style: solid;
  border-color: #eaecee;
  border-width: 1px;
}

.header-minimal,
.header-transparent {
  #masthead {
    .navbar-link::after {
      border-color: $text;
    }
    .navbar {
      background-color: transparent;
      .menu-item {
        color: $text;
        &:visited {
          color: initial;
        }
        &.is-active {
          color: $primary;
        }
      }
    }
    .navbar-item.has-dropdown:hover .navbar-link {
      background-color: transparent;
    }
  }
}

#masthead .navbar-menu.is-active {
  position: relative;
  z-index: 99;
  background-color: white;
  padding-top: 0;
}

header {
  .is-centered {
    display: flex;
    @extend .columns.is-centered;
    text-align: center;
  }
  &.menu-center {
    .site-branding {
      padding-top: 1em;
    }
    .site-description {
      display: block;
    }
  }
}

.posts-pagination {
  padding: 1em 0;
  &.is-boxed {
    //@extend .white-box;
  }
  .pagination {
    .page-numbers {
      text-transform: uppercase;
      font-size: $size-7;
      padding: 1.5em;
      color: $text;
    }
  }
}

.navbar-dropdown {
  .has-dropdown {
    padding: 0;
    & > a {
      &:after {
        transform: rotate(225deg);
        top: 55%;
      }
    }
    .navbar-dropdown {
      position: absolute;
      left: 100%;
      top: 0 !important;
      opacity: 0 !important;
    }
  }
}

.navbar-dropdown {
  .has-dropdown {
    &:hover {
      .navbar-dropdown {
        opacity: 1 !important;
      }
    }
  }
}

@include mobile {
  .navbar-dropdown {
    .has-dropdown {
        .navbar-dropdown {
          opacity: 1 !important;
          position: initial;
          a{
            padding-left: 3em !important;
          }
        }
    }
  }
}

@media screen and (min-width: 1000px) {
  .navbar-dropdown.is-boxed {
    top: calc(100%);
  }
  .navbar-menu {
    align-items: center;
  }
}